.navbar-collapse {
    text-align: center;
}

.form-group > label > span {
    font-weight: bold;
}

.h4{
    text-align: center;
    font-family: 'Lobster', cursive;
}

.h5{
    font-family: 'Lobster', cursive;
}

.btn{
    font-family: 'Lobster', cursive;
}

.col-form-label{
    font-family: 'Lobster', cursive;
}

.card-header{
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    text-align:center;
    background-color: rgb(47, 12, 128);
    color: #ffffff;
}

.card-body{
    background-color: rgba(203, 216, 250, 0.938);
}

.app{
    background-color: rgba(203, 216, 250, 0.938);
}


.fondoFindSaleRoom{
    background-image: url('hotelito.jpg');
    

}